<form class="comment-form" id="commentform" method="post" action="{{ site.site_url }}/wp-comments-post.php">
  {% if user == false %}
    <h2 class="u-h4">How do you rate {{post.title}} ?</h3>
    <p>Your email address will not be published. Required fields are marked *</p>
    <div class="c-comments__registration">
      <label>Email* <br>
        <input required name="email" type="email" id="email">
      </label>
      <label>Name* <br>
        <input required name="author" type="text">
      </label>
      <label class="c-comments__registration-label">
        <span class="is-rate">Rate*</span> <br>
        <div class="comment-form-rating">
          <select name="rating" id="rating" class="js-starts-select" required>
            <option value="">Оценка…</option>
            <option value="5">Отлично</option>
            <option value="4">Хорошо</option>
            <option value="3" selected>Средне</option>
            <option value="2">Неплохо</option>
            <option value="1">Очень плохо</option>
          </select>

          <p class="stars js-starts">           
            <span>
              <a class="u-star star-1" href="#">1</a>              
              <a class="u-star star-2" href="#">2</a>              
              <a class="u-star star-3" href="#">3</a>              
              <a class="u-star star-4" href="#">4</a>              
              <a class="u-star star-5" href="#">5</a>            
            </span>         
          </p>
        </div>
      </label> 
    </div>
  {% endif %}
  {% if user %}
  <div class="c-comments__registration">
    <div class="c-comments__registration-label">
      <span class="is-rate">Rate*</span> <br>
      <div class="comment-form-rating">
          <select name="rating" id="rating" class="js-starts-select" required>
            <option value="">Оценка…</option>
            <option value="5">Отлично</option>
            <option value="4">Хорошо</option>
            <option value="3" selected>Средне</option>
            <option value="2">Неплохо</option>
            <option value="1">Очень плохо</option>
          </select>

          <p class="stars js-starts">           
            <span>
              <a class="u-star star-1" href="#">1</a>              
              <a class="u-star star-2" href="#">2</a>              
              <a class="u-star star-3" href="#">3</a>              
              <a class="u-star star-4" href="#">4</a>              
              <a class="u-star star-5" href="#">5</a>            
            </span>         
          </p>
        </div>
    </div>
  </div>
  {% endif %}
  
  <div class="c-comments__submit">
    {% if user %}
      <input type="hidden" name="email" value="{{ user.email }}">
      <input type="hidden" name="author" value="{{ user.name }}">
      <input type="hidden" name="url" value="{{ user.link }}">
    {% endif %}


  	<input name="comment_post_ID" value="{{ post.id }}" type="hidden">
    <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">

    <input type="text" name="comment" required  placeholder="Your comment">
    <button class="u-btn is-medium is-black" type="submit" name="Submit">Send</button>
  </div>
</form>
